{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Log In - TaskFusion</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        if (localStorage.getItem('theme') === 'dark') {
            document.documentElement.classList.add('dark');
        }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = { darkMode: 'class' };
    </script>
</head>
<body class="bg-purple-100 flex flex-col items-center min-h-screen p-4">



<div class="container-wrapper w-full bg-white dark:bg-gray-800 shadow-lg rounded-xl p-6 sm:p-8 md:p-10 mt-12">
    <h2 class="text-2xl font-bold mb-6 text-center quote-purple dark:text-white">Log In</h2>
    <form action="/login" method="post" class="max-w-md mx-auto flex flex-col gap-4">
        <label for="email" class="sr-only">Email</label>
        <input id="email" name="email" type="email" placeholder="Email" class="p-2 border rounded" required>
        <label for="password" class="sr-only">Password</label>
        <input id="password" name="password" type="password" placeholder="Password" class="p-2 border rounded" required>
        <button type="submit" class="bg-purple-700 text-white  py-2 rounded hover:bg-purple-900">Log In</button>
    </form>
    <p class="mt-4 text-center dark:text-white">Don't have an account? <a href="/signup" class="text-blue-700 dark:text-blue-300 underline">Sign Up</a></p>
</div>

</body>
{% endblock %}
